{% extends 'umessages/base_message.html' %}
{% load i18n %}

{% block title %}{% trans "Messages" %}{{ settings.TITLE_SEPARATOR }}{% blocktrans with recipients.0.username as recipient %}Conversation with {{ recipient }}{% endblocktrans %}{{ settings.TITLE_SEPARATOR }}{% trans "Compose message" %}{% endblock %}

{% block maintitle %}<a href="{% url userena_umessages_list %}">{% trans "Messages" %}</a> / <a href="{% url userena_umessages_detail recipients.0.username %}">{% blocktrans with recipients.0.username as recipient %}Conversation with {{ recipient }}{% endblocktrans %}</a>{% endblock %}
{% block subtitle %}{% url userena_profile_detail recipients.0.username as profile_detail_url %}<span>{% blocktrans with recipients.0.username as username %}Compose message to <a href="{{ profile_detail_url }}">{{ username }}</a>{% endblocktrans %}</span>{% endblock %}

{% block main %}
<div class="actions">
	<a href="javascript: history.go(-1)">{% trans "Cancel and go back" %}</a>
</div>

<form action="" method="post" id="compose_message_form">
	{% csrf_token %}
	<fieldset>
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		<div style="display: none;">
			{{ form.to.errors }}
			{{ form.to }}
		</div>
		{{ form.body.errors }}
		<p>
			{{ form.body.label_tag }}
			{{ form.body }}
		</p>
	</fieldset>
	<input type="submit" name="send" value="{% trans "Send" %}" />
</form>
{% endblock %}
