{% extends 'umessages/base_message.html' %}
{% load i18n %}

{% block title %}{% trans "Messages" %}{{ settings.TITLE_SEPARATOR }}{% blocktrans %}Conversation with {{ recipient }}{% endblocktrans %}{% endblock %}

{% block maintitle %}<a href="{% url userena_umessages_list %}">{% trans "Messages" %}</a> / <a href="{% url userena_umessages_detail recipient %}">{% blocktrans %}Conversation with {{ recipient }}{% endblocktrans %}</a>{% endblock %}

{% block main %}
<div class="actions">
	<a class="action" href="{% url userena_umessages_compose_to recipient %}">{% trans "Send new message" %}</a>
</div>

<ul id="message_list">
{% for message in message_list %}
	<li class="message">
		<a href="{% url userena_profile_detail message.sender.username %}" title="{{ message.sender.username }}">
			<img src="{{ message.sender.get_profile.get_mugshot_url }}" alt="{{ message.sender.username }}" title="{{ message.sender.username }}" />
		</a>
		<div class="info">
			<p class="meta"><a class="username" href="{% url userena_profile_detail message.sender.username %}">{{ message.sender.username }}</a></p>
			<time class="datetime" datetime="{{ message.sent_at }}">{{ message.sent_at }}</time>
			<p class="body">{{ message.body|linebreaksbr }}</p>
		</div><!-- .info -->
	</li>
{% endfor %}
</ul>
{% endblock %}
