[submodule "apps_ext/django-userena"]
	path = apps_ext/django-userena
	url = git@github.com:barszczmm/django-userena.git
[submodule "apps_ext/django-barszcz-toolkit"]
	path = apps_ext/django-barszcz-toolkit
	url = git@github.com:barszczmm/django-barszcz-toolkit.git
