# Django 1.4-alpha-1 must be installed by hand
#Django==1.4-alpha-1
MySQL-python
PIL
django-context-extras

#django-userena==1.0.2
# my version of django-userena
-e git://github.com/barszczmm/django-userena.git#egg=django-userena
# needed by django-userena (will not be auto installed if my version from git is used)
django-guardian
# needed by django-userena (will not be auto installed if my version from git is used)
# not needed anymore in my version
#easy-thumbnails==1.0-alpha-21

# django-ratings
-e git://github.com/dcramer/django-ratings.git#egg=django-ratings