{% extends 'photos/photo_detail.html' %}
{% load i18n %}

{% block titlepart %}{{ settings.TITLE_SEPARATOR }}{% trans "Edit" %}{% endblock %}

{% block subtitle %}<span>{% trans "Edit" %}</span>{% endblock %}


{% block tabs_titles %}
<li class="tab-title"><a href="{{ photo.get_absolute_url }}">{% trans "Info" %}</a></li>
<li class="tab-title"><a href="{% url photos_comments_photo photo.id %}">{% trans "Comments" %}</a></li>
{% if photo.user == user %}
	<li class="tab-title active"><a href="{% url photos_edit_photo photo.id %}">{% trans "Edit photo" %}</a></li>
	<li class="tab-title"><a href="{% url photos_remove_photo photo.id %}">{% trans "Delete photo" %}</a></li>
{% endif %}
{% endblock %}


{% block tab_content %}
<form action="" enctype="multipart/form-data" method="post">
	{% csrf_token %}
	{% include "form_snippet.html" %}
	<input type="submit" value="{% trans "Save"%}" />
</form>
{% endblock %}
