{% extends 'photos/photo_detail.html' %}
{% load i18n %}

{% block title %}{% trans "Delete photo" %}{% endblock %}

{% block subtitle %}<span>{% trans "Delete photo" %}</span>{% endblock %}


{% block tabs_titles %}
<li class="tab-title"><a href="{{ photo.get_absolute_url }}">{% trans "Info" %}</a></li>
<li class="tab-title"><a href="#">{% trans "Comments" %}</a></li>
{% if photo.user == user %}
	<li class="tab-title"><a href="{% url photos_edit_photo photo.id %}">{% trans "Edit photo" %}</a></li>
	<li class="tab-title active"><a href="{% url photos_remove_photo photo.id %}">{% trans "Delete photo" %}</a></li>
{% endif %}
{% endblock %}


{% block tab_content %}
<form action="" method="post">
	{% csrf_token %}
	{% include "form_snippet.html" %}
	<p class="confirm">{% trans "Are you sure you want to delete this photo?" %}</p>
	<input type="submit" value="{% trans "Delete photo"%}" />
</form>
{% endblock %}
