{% extends 'base.html' %}
{% load i18n comments %}

{% block title %}{% trans "Photos" %}{% endblock %}

{% block maintitle %}<a href="{% url photos_list_photos %}">{% trans "Photos" %}</a>{% endblock %}
{% block subtitle %}<span>{% trans "New" %}</span>{% endblock %}

{% block main %}
<div class="tabs">

	<ul class="tabs-titles">
		<li class="tab-title active"><a href="#new">{% trans "New" %}</a></li>
		<li class="tab-title"><a href="#top">{% trans "Top" %}</a></li>
		<li class="tab-title"><a href="#hot">{% trans "Hot" %}</a></li>
	</ul>

	<div class="tabs-contents">

		<div class="tab-content active">
			<div id="photo_list">
				{% for photo in photo_list %}
				<article class="photo">
					<header>
						<h1><a href="{{ photo.get_absolute_url }}">{{ photo.title }}</a></h1>
					</header>
					<footer>
						{% get_comment_count for photo as comment_count %}
						<p class="meta">
							{% blocktrans with photo.user.get_profile.get_absolute_url as user_url and photo.user.username as username and photo.uploaded as added_at %}Added by <a class="username" href="{{ user_url }}">{{ username }}</a> at <time class="datetime" datetime="{{ added_at }}">{{ added_at }}</time>
							{% endblocktrans %}
							<span class="comments">{% blocktrans %}{{ comment_count }} comments{% endblocktrans %}</span>
						</p>
					</footer>
					<img src="{{ photo.image.url }}" />
				</article>
				{% endfor %}
			</div>
		</div>

		<div class="tab-content">
			top
		</div>

		<div class="tab-content">
			hot
		</div>

	</div>

{% endblock %}
