{% extends 'userena/profile_detail.html' %}
{% load i18n comments %}

{% block subtitle %}<span>{% trans "Photos" %}</span>{% endblock %}

{% block tabs_titles %}
<li class="tab-title"><a href="{{ profile.get_absolute_url }}">{% trans "Info" %}</a></li>
<li class="tab-title active"><a href="{% url profile_photos profile.user.username %}">{% trans "Photos" %}</a></li>
<li class="tab-title"><a href="{% url profile_comments profile.user.username %}">{% trans "Comments" %}</a></li>
{% endblock %}


{% block tab_content %}

	<div id="photo_list">
		{% for photo in photo_list %}
		<article class="photo">
			<header>
				<h1><a href="{{ photo.get_absolute_url }}">{{ photo.title }}</a></h1>
			</header>
			<footer>
				{% get_comment_count for photo as comment_count %}
				<p class="meta">
					{% blocktrans with photo.user.get_profile.get_absolute_url as user_url and photo.user.username as username and photo.uploaded as added_at %}Added by <a class="username" href="{{ user_url }}">{{ username }}</a> at <time class="datetime" datetime="{{ added_at }}">{{ added_at }}</time>
					{% endblocktrans %}
					<span class="comments">{% blocktrans %}{{ comment_count }} comments{% endblocktrans %}</span>
				</p>
			</footer>
			<img src="{{ photo.image.url }}" />
		</article>
		{% endfor %}
	</div>

{% endblock %}
