{% extends 'userena/signin_form.html' %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block subtitle %}<span>{% trans "Your password has been reset" %}</span>{% endblock %}


{% block tabs_titles %}
<li class="tab-title"><a href="{% url userena_signin %}">{% trans "Signin" %}</a></li>
<li class="tab-title active"><a href="{% url userena_password_reset %}">{% trans "Reset password" %}</a></li>
<li class="tab-title"><a href="{% url userena_signup %}">{% trans "Signup" %}</a></li>
{% endblock %}


{% block tab_content %}
{% url userena_signin as signin_url %}
{% blocktrans %}You can now <a href="{{ signin_url }}">signin</a> with your new password.{% endblocktrans %}
{% endblock %}
