{% extends 'userena/signin_form.html' %}
{% load i18n %}

{% block title %}{% trans "Restore password" %}{% endblock %}

{% block subtitle %}<span>{% trans "Restore password" %}</span>{% endblock %}


{% block tabs_titles %}
<li class="tab-title"><a href="{% url userena_signin %}">{% trans "Signin" %}</a></li>
<li class="tab-title active"><a href="{% url userena_password_reset %}">{% trans "Restore password" %}</a></li>
<li class="tab-title"><a href="{% url userena_signup %}">{% trans "Signup" %}</a></li>
{% endblock %}


{% block tab_content %}
<form action="" method="post">
	{% csrf_token %}
	{% include "form_snippet.html" %}
	<input type="submit" value="{% trans "Send password" %}" />
</form>
{% endblock %}
