{% extends 'userena/base_userena.html' %}
{% load i18n comments %}

{% block title %}{% trans "Users" %}{% endblock %}

{% block maintitle %}<a href="{% url userena_profile_list %}">{% trans "Users" %}</a>{% endblock %}

{% block main %}
<div class="tabs">

	<ul class="tabs-titles">
		<li class="tab-title active"><a href="#new">{% trans "New" %}</a></li>
		<li class="tab-title"><a href="#top">{% trans "Top" %}</a></li>
		<li class="tab-title"><a href="#hot">{% trans "Hot" %}</a></li>
	</ul>

	<div class="tabs-contents">

		<div class="tab-content active">
			<ul id="profile_list">
				{% for profile in profile_list %}
				<li class="profile">
					<a href="{{ profile.get_absolute_url }}" title="{{ profile.user.username }}">
						<img src="{{ profile.get_mugshot_url }}" alt="{{ profile.user.username }}" title="{{ profile.user.username }}" />
					</a>
					<div class="info">
						<p class="meta"><a class="username" href="{{ profile.get_absolute_url }}">{{ profile.user.username }}</a></p>
						<p class="dates"><span class="joined">{% trans "Joined" %}: <time datetime="{{ profile.user.date_joined }}">{{ profile.user.date_joined }}</time></span> <span class="lastlogin">{% trans "Last logged" %}: <time datetime="{{ profile.user.last_login }}">{{ profile.user.last_login }}</time></span></p>
						<p class="photos"><a href="{% url profile_photos profile.user.username %}">{% blocktrans with profile.user.photos.count as photos_count %}{{ photos_count }} photos{% endblocktrans %}</a></p>
						{% get_comment_count for profile as comment_count %}
						<p class="comments"><a href="{% url profile_comments profile.user.username %}">{% blocktrans %}{{ comment_count }} comments{% endblocktrans %}</a></p>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>

		<div class="tab-content">
			top
		</div>

		<div class="tab-content">
			hot
		</div>

	</div>

</div>
{% endblock %}
