{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Users" %}{% endblock %}

{% block maintitle %}<a href="{% url userena_profile_list %}">{% trans "Users" %}</a>{% endblock %}

{% block main %}
<div class="tabs">

	<ul class="tabs-titles">
		<li class="tab-title active"><a href="#new">{% trans "New" %}</a></li>
		<li class="tab-title"><a href="#top">{% trans "Top" %}</a></li>
		<li class="tab-title"><a href="#hot">{% trans "Hot" %}</a></li>
	</ul>

	<div class="tabs-contents">

		<div class="tab-content active">
			<ul id="profile_list">
				{% for profile in profile_list %}
				<li class="profile">
					<a href="{{ profile.get_absolute_url }}" title="{{ profile.user.username }}">
						<img src="{{ profile.get_mugshot_url }}" alt="{{ profile.user.username }}" title="{{ profile.user.username }}" />
					</a>
					<div class="info">
						<p class="meta"><a class="username" href="{{ profile.get_absolute_url }}">{{ profile.user.username }}</a></p>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>

		<div class="tab-content">
			top
		</div>

		<div class="tab-content">
			hot
		</div>

	</div>

</div>
{% endblock %}
