{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Users" %}{{ settings.TITLE_SEPARATOR }}{{ profile.user.username }}{% block titlepart %}{% endblock %}{% endblock %}

{% block afterbodyopen %}
{% include "social_scripts.html" %}
{% endblock %}

{% block maintitle %}<a href="{% url userena_profile_list %}">{% trans "Users" %}</a> / <a href="{{ profile.get_absolute_url }}">{{ profile.user.username }}</a>{% endblock %}
{% block subtitle %}<span>{% trans "Info" %}</span>{% endblock %}

{% block main %}
<div class="actions">
	{% if profile.user != user %}<a class="action" href="{% url userena_umessages_compose_to profile.user.username %}">{% trans "Send message" %}</a>{% endif %}
	<div class="social-buttons">
		<div class="fb-like" data-href="http://{{ site.domain }}{{ profile.get_absolute_url }}" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false"></div>
		<a href="https://twitter.com/share" class="twitter-share-button" data-lang="{{ LANGUAGE_CODE }}" data-url="http://{{ site.domain }}{{ profile.get_absolute_url }}">Tweet</a>
		<div class="g-plusone" data-size="medium" data-href="http://{{ site.domain }}{{ profile.get_absolute_url }}"></div>
	</div>
</div>

<div class="tabs no-hash">

	<ul class="tabs-titles">
		{% block tabs_titles %}
		<li class="tab-title active"><a href="{{ profile.get_absolute_url }}">{% trans "Info" %}</a></li>
		<li class="tab-title"><a href="{% url profile_photos profile.user.username %}">{% trans "Photos" %}</a></li>
		<li class="tab-title"><a href="{% url profile_comments profile.user.username %}">{% trans "Comments" %}</a></li>
		{% endblock %}
	</ul>

	<div class="tabs-contents">
	
		<div class="tab-content active">
			{% block tab_content %}
			<div id="profile">
				<img src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
				<div class="info">
				{% if profile.user.get_full_name %}
					<p><strong>{% trans "Name" %}</strong><br /> {{ profile.user.get_full_name }}</p>
				{% endif %}
				{% if profile.gender %}
					<p><strong>{% trans "Gender" %}</strong><br />{{ profile.gender }}</p>
				{% endif %}
				{% if profile.user.email %}
					<p><strong>{% trans "Email" %}</strong><br />{{ profile.user.email }}</p>
				{% endif %}
				{% if profile.birthday %}
					<p><strong>{% trans "Birthday" %}</strong><br /> {{ profile.birthday }}</p>
				{% endif %}
				{% if profile.website %}
					<p><strong>{% trans "Website" %}</strong><br /> <a href="{{ profile.website }}">{{ profile.website }}</a></p>
				{% endif %}
				{% if profile.about_me %}
					<p><strong>{% trans "About me" %}</strong><br />{{ profile.about_me|linebreaksbr }}</p>
				{% endif %}
				</div>
			</div>
			{% endblock %}
		</div>

	</div><!-- .tabs-contents -->
</div>

{% endblock %}
