{% extends 'userena/signin_form.html' %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block subtitle %}<span>{% trans "Signup" %}</span>{% endblock %}


{% block tabs_titles %}
<li class="tab-title"><a href="{% url userena_signin %}">{% trans "Signin" %}</a></li>
<li class="tab-title"><a href="{% url userena_password_reset %}">{% trans "Reset password" %}</a></li>
<li class="tab-title active"><a href="{% url userena_signup %}">{% trans "Signup" %}</a></li>
{% endblock %}


{% block tab_content %}
	{% include 'userena/signup_form_include.html' %}
{% endblock %}
