{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block maintitle %}{% trans "Signin" %} / {% trans "Signup" %}{% endblock %}
{% block subtitle %}<span>{% trans "Signin" %}</span>{% endblock %}

{% block main %}
<div class="tabs no-hash ajax">

	<ul class="tabs-titles">
		{% block tabs_titles %}
		<li class="tab-title active"><a href="{% url userena_signin %}">{% trans "Signin" %}</a></li>
		<li class="tab-title"><a href="{% url userena_password_reset %}">{% trans "Reset password" %}</a></li>
		<li class="tab-title"><a href="{% url userena_signup %}">{% trans "Signup" %}</a></li>
		{% endblock %}
	</ul>

	<div class="tabs-contents">

		<div class="tab-content active">
			{% block tab_content %}
				{% include 'userena/signin_form_include.html' %}
			{% endblock %}
		</div>

	</div><!-- .tabs-contents -->
</div>
{% endblock %}
