{% extends 'userena/signin_form.html' %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block subtitle %}<span>{% trans "Signup" %}</span>{% endblock %}


{% block tabs_titles %}
<li class="tab-title"><a href="{% url userena_signin %}">{% trans "Signin" %}</a></li>
<li class="tab-title"><a href="{% url userena_password_reset %}">{% trans "Restore password" %}</a></li>
<li class="tab-title active"><a href="{% url userena_signup %}">{% trans "Signup" %}</a></li>
{% endblock %}


{% block tab_content %}
<form action="" method="post">
	{% csrf_token %}
	<fieldset>
	{% for field in form %}
		{{ field.errors }}
		{% comment %} Displaying checkboxes differently {% endcomment %}
		{% if field.name == 'tos' %}
			<p class="checkbox">
				<label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
			</p>
		{% else %}
			<p>
				{{ field.label_tag }}
				{{ field }}
			</p>
		{% endif %}
	{% endfor %}
	</fieldset>
	<input type="submit" value="{% trans "Signup" %}" />
</form>
{% endblock %}
