{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block maintitle %}{% trans "Signing in" %} / {% trans "Signing up" %}{% endblock %}
{% block subtitle %}<span>{% trans "Signin" %}</span>{% endblock %}

{% block main %}
<div class="tabs no-hash">

	<ul class="tabs-titles">
		{% block tabs_titles %}
		<li class="tab-title active"><a href="{% url userena_signin %}">{% trans "Signin" %}</a></li>
		<li class="tab-title"><a href="{% url userena_password_reset %}">{% trans "Restore password" %}</a></li>
		<li class="tab-title"><a href="{% url userena_signup %}">{% trans "Signup" %}</a></li>
		{% endblock %}
	</ul>

	<div class="tabs-contents">

		<div class="tab-content active">
			{% block tab_content %}
			<form action="" method="post">
				{% csrf_token %}
				<fieldset>
					{{ form.non_field_errors }}
					{% for field in form %}
						{{ field.errors }}
						{% comment %} Displaying checkboxes differently {% endcomment %}
						{% if field.name == 'remember_me' %}
							<p class="checkbox">
								<label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
							</p>
						{% else %}
							<p>
								{{ field.label_tag }}
								{{ field }}
							</p>
						{% endif %}
					{% endfor %}
				</fieldset>
				<input type="submit" value="{% trans "Signin" %}" />
				{% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
			</form>
			{% endblock %}
		</div>

	</div><!-- .tabs-contents -->
</div>
{% endblock %}
